.primary-button {
  background: #485cd0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.13);
  border-radius: 4px;
  padding: 10px 25px;
  color: #ffffff;
  transition: all 0.4s;
  border: none;
  box-shadow: none;

  &:hover {
    background: #394AAD;
    box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15);
  }
}
