#content-wrapper {
  margin-left: 250px;
  min-height: 100vh;
}

#content-inner {
  padding: 2.5rem;
}

#minimal-app {
  background-image: linear-gradient(180deg, #f2f4f5 0%, #d6e6f3 100%);
  height: 100vh;
  background-attachment: fixed;
  margin-top: -100px;
  padding-top: 100px;
}
