.sidebar-wrapper {
  position: fixed;
  left: 0;
  top: 98px;
  width: 250px;
  height: 100vh;
  background: #031F39;
}

.sidebar-inner {
  padding: 3rem 1.5rem 0rem 1.5rem;
}

.sidebar-link {
  margin-bottom: 2rem;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: all 0.4s;
  padding-left: 0.75rem;

  &:hover {
    color: #fff;
    border-left: 3px solid #485CD0;
  }
}

.sidebar-link-active {
  color: #fff;
  border-left: 3px solid #485CD0;
  font-weight: 500;
}