.basic-card-wrapper {
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.075);
  transition: all 0.4s;

  &:hover {
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.125);}
}